.BigContainerHamMenu{
    margin-top: 17.6px;
    width: 1400px;
    height: 50px;
    display: flex;  
    background-color: white;
    flex-direction: row;
  }

  .TitleHamMenu{
   
    padding-top: 20px;
    margin-top: -5px;
    padding-left: 10px;
    padding-right: 50px;
    font-size: 15px;
    color: black;
    align-items: center;
    text-align: center;
    
  }


  @media only screen and (max-width:1024px) {
  
  .BigContainerHamMenu{
    margin-top: -18px;
    width: 385px;
    height: 380px;
    display: flex;  
    background-color: white;
    flex-direction: column;
    margin-left: -100px;
  }

  .TitleHamMenu{
    margin-top: 1px;
    padding-top: 5px;
    padding-right: 20px;
    font-size: 15px;
    color: black;
    align-items: start;
    text-align: start;
    
  }
}


