.BigContainer{
    display: flex;
    flex-direction: column;
    
}
.Container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 500px;
    margin-left: 390px;
    background-color: rgb(199, 196, 196);
}

.Title {
    padding-top: 20px;
    padding-left: -15px;

}