.BigContainerCardType6{
    width: 1850px;
    height: 900px;
    display: flex;
    flex-wrap: nowrap; 
    justify-content: flex-start; 
    overflow-x: auto; 
    overflow-y: hidden;
    margin-top: 60px;
    background-color: #0f0f0f;
    
  }
  .TitleCardType6{
    padding-left: 70px;
  }
  .ImgCardType6{
    width: 800px;
    height: 800px;
  }
  @media only screen and (max-width:1024px) {
    
    .BigContainerCardType6{
      width: 400px;
      height: 450px;
      display: flex;
      flex-wrap: nowrap; 
      justify-content: flex-start; 
      overflow-x: auto; 
      overflow-y: hidden;
      
    }
    .ImgCardType6{
      width: 370px;
      height: 350px;
    }
  }