.FirstFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 720px;
    padding-left: 600px;
  
    
  }
  
  .OfferDucati{
    display: flex;
    flex-direction: column; 
    justify-content: start;
    align-items: start;
    text-align: start;
    padding: 40px; 
    width: 1200px;
    padding-left: 300px;
    
    
  }
  .Terms {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
   
  }
  .FirstElement{
  padding-bottom: -100px;
  color: #666;
  
  }
  .FirstFooter{
    font-size: 15px;
  
  }
  .Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }
  
  .SecondFooter {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 6000px;
    background-color: #0f0f0f;
    
  }
  
  .Terms {
    margin: 10px 0;
    
  }
  
  .Elementos {
    margin: 5px 0;
    padding-right: 55px;
    padding-bottom: 30px;
    color: #666;
  }
  
  .IconsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-top: 50px;
  }
  
  .Imagen {
    width: 50px;
    margin: 0 10px;
  }
  
  .Suscription{
    font-size: 25px;
  }
  
  .InputCorreo{
    width: 500px;
    height: 60px;
    font-size: 15px;
    background-color: #0f0f0f;
    border-color: white;
    border: 0.5px solid ebebeb;
    border-radius: 1px;
  }

  @media only screen and (max-width:1024px) {

    .FirstFooter {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-top: 1000px;
      padding: 20px;
      width: 300px;
      padding-left: 50px;
      margin-top: 500px;
    }
    
    .OfferDucati{
      display: flex;
      flex-direction: column; 
      text-align: start;
      padding: 40px; 
      width: 300px;
      height: 500px;
      padding-left: 30px;
    }
    .Terms {
      display: flex;
      justify-content: space-around; 
      align-items: center; 
     
    }
    .FirstElement{
    padding-bottom: -100px;
    color: #666;
    
    }
    .FirstFooter{
      font-size: 15px;
    
    }
    .Footer {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      
    }
    
    .SecondFooter {
      font-size: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 400px;
      background-color: #0f0f0f;
      
    }

    .ImgSecondFooter{
      width: 372px;
    }
    
    .Terms {
      margin: 10px 0;
      
    }
    
    .Elementos {
      text-align: center;
      font-size: 10px;
      margin: 5px 0;
      margin-left: 50px;
      padding-bottom: 30px;
      color: #666;
    }
    
    .IconsContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      padding-top: 10px;
      width: 400px;
      height: 100px;

    }
    
    .Imagen {
      width: 25px;
      margin: 0 10px;

    }
    
    .Suscription{
      font-size: 25px;
    }
    
    .InputCorreo{
      text-align: center;
      width: 300px;
      height: 60px;
      font-size: 15px;
      background-color: #0f0f0f;
      border-color: white;
      border: 0.5px solid ebebeb;
      border-radius: 1px;
    }
   
  }

  