.card {
    box-sizing: border-box;
    width: 190px;
    height: 300px;
    background: rgba(131, 232, 237, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
    flex-direction: column;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  
  .card:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  .card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }

  .big-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30%;
    justify-content: center;
    
  }

  .save-image{
    width: 20px;
  }

  .button-save{
    background-color: transparent;
    border-color: black;
    border-radius: 10px;
    width: 20%;

  }

  @media only screen and (max-width: 700px) {

    .card {
      box-sizing: border-box;
      width: 190px;
      height: 300px;
      background: rgba(131, 232, 237, 0.58);
      border: 1px solid white;
      box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
      backdrop-filter: blur(6px);
      border-radius: 17px;
      text-align: center;
      cursor: pointer;
      transition: all 0.5s;
      display: flex;
      align-items: center;
      justify-content: center;
      user-select: none;
      font-weight: bolder;
      color: black;
      flex-direction: column;
      margin-right: 2%;
      margin-bottom: 2%;
    }
    
    .card:hover {
      border: 1px solid black;
      transform: scale(1.05);
    }
    
    .card:active {
      transform: scale(0.95) rotateZ(1.7deg);
    }
  
    .big-container{
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 500px;
      justify-content: center;
      
    }
  
    .save-image{
      width: 20px;
    }
  
    .button-save{
      background-color: transparent;
      border-color: black;
      border-radius: 10px;
      width: 20%;
  
    }

  }