:root {
  font-family:  Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.FirstTitle{
  padding-left: 800px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.SecondTitle{
  padding-left: 800px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.ThirdTitle {
  padding-left: 700px;
  padding-bottom: 70px;
}
.menu{ 
  z-index: 10;
  display:flex;
  flex-direction: row;
  background-color: #2b2b2b;
  width: 1400px;
  height: 100px;
  position: fixed;
  margin-top: 3%;
  margin-left: 250px;
  text-decoration: none ;
  align-items: center;
  
  }

.menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none; 
  margin-left: -40px;
  
}



.menu li a {
  margin: 30px;
  color: #ffffff;
  text-decoration: none;
}

.LogoMenu{
  margin-left: 30px;
  margin-right: -10px;
}

.BigContainerCardType6{
  width: 1850px;
  height: 580px;
  display: flex;
  flex-wrap: nowrap; 
  justify-content: flex-start; 
  overflow-x: auto; 
  overflow-y: hidden;
  margin-top: 60px;
  background-color: #0f0f0f;
  
}
.TitleCardType6{
  padding-left: 70px;
}
.TitleCardType5{
  padding-left: 100px;
}

.BigContainerCardType5{
  width: 1850px;
  height: 500px;
  display: flex;
  flex-wrap: nowrap; 
  justify-content: flex-start; 
  overflow-x: auto; 
  overflow-y: hidden; 
}

::-webkit-scrollbar {
  width: 5px; 
  height: 5px;
  background-color: #333; 
}


::-webkit-scrollbar-thumb {
  background-color: #ff0000; 
  border-radius: 5px; 
  
}


::-webkit-scrollbar-thumb:hover {
  background-color: #ff3333; 
}

.BigContainerCardType4 {

  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.ContainerCardType4 {
  display: flex;
  align-items: center; 
  width: 1100px; 
  height: 250px;
  margin-bottom: 20px; 
  background-color: #0f0f0f;
  padding-bottom: 20px;
  margin-bottom: 100px;
  border-left: 3px solid #c00;
}
.LinkCardType4{
  border-radius: 5px;
  background-color: transparent;
  border-color: transparent;
  color: #c00;
}

.TextContainer {
  flex: 1; 
  padding: 0 20px; 
}

.ImageContainer {
  width: 500px;
}

.ImgCardType4 {
  width: 100%;
  height: auto;
}


.TitleCardType3{
  z-index: 9;
  position: absolute;
   
  
 
}
.ContainerCardType3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  margin-bottom: 250px;
  
}

.GridImgCardType3 {
  overflow: hidden; 
}

.ImgCardType3 img {
  text-align: center;
  width: 1850px; 
  margin-bottom: -6px;
  height: auto; 
}

.CardType2Container {
  width: 1850px;
  display: flex;
  justify-content: center;
  
  
}
.ImgCardType2{
  width: 99%;
  
}
.ContainerImgCardType2{
  position: relative;
  text-align: center;
  width: 1500px;
}

.TitleCardType2{
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  left: 0;
 
}

.BigContainerCardType1{
  display: flex; 
  justify-content: space-around; 
  flex-wrap: wrap;
  
}

.ContainerCardType1 {
  flex: 1; 
  max-width:416px;
  text-align: center; 
  background-color: #0f0f0f;
  text-align: start;
  height: 480px;
}

.TitleCardType1{
  padding-left:10px;
  font-size: 15px;
}
.DescriptionCardType1{
  padding-left:10px;
  font-size: 20px;
}



.slider{
  z-index: 1;
  width: 1850px;
  height: 1200px;
  margin-bottom: 200px;
  
}

.ImgCarousel{
  width: 100%;
  height: 100%;
}

.LeftArrow{
  position: absolute;
  top: 50%;
  width: 100px;
  left: 2%;
} 

.RightArrow{
  position: absolute;
  left: 93%;
  top: 50%;
  width: 100px;
}

.TitleCarousel{ 
  position: absolute; 
  top: 50%;
  left: 50%;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;

}

.DescriptionCarousel{
  position: absolute;
  bottom: 10%;
  left: 50%;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.SecondDescriptionCarousel{
  position: absolute;
  top: 75%;
  left: 50%;
  font-size: 25px;
  font: lighter;
  font-family: Arial, Helvetica, sans-serif;
  
}

.ButtonCarousel{
  position: absolute;
  right:  20%;
  top: 105%;
  background-color: #ff0000;
  border-radius: 5px;
  width: 180px;
  height: 50px;
  border-color: #ff0000;
  font-family: sans-serif;
  font: bold;
  font-family: Arial, Helvetica, sans-serif;
  
}



.FirstFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  width: 720px;
  padding-left: 600px;

  
}

.OfferDucati{
  display: flex;
  flex-direction: column; 
  justify-content: start;
  align-items: start;
  text-align: start;
  padding: 40px; 
  width: 1200px;
  padding-left: 300px;
  
  
}
.Terms {
  display: flex;
  justify-content: space-around; 
  align-items: center; 
 
}
.FirstElement{
padding-bottom: -100px;
color: #666;

}
.FirstFooter{
  font-size: 15px;

}
.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.SecondFooter {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 6000px;
  background-color: #0f0f0f;
  
}

.Terms {
  margin: 10px 0;
  
}

.Elementos {
  margin: 5px 0;
  padding-right: 55px;
  padding-bottom: 30px;
  color: #666;
}

.IconsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding-top: 50px;
}

.Imagen {
  width: 50px;
  margin: 0 10px;
}

.Suscription{
  font-size: 25px;
}

.InputCorreo{
  width: 500px;
  height: 60px;
  font-size: 15px;
  background-color: #0f0f0f;
  border-color: white;
  border: 0.5px solid ebebeb;
  border-radius: 1px;
}



@media only screen and (max-width:1024px) {
  .menu{ 
    z-index: 10;
    display:flex;
    flex-direction: row;
    background-color: #2b2b2b;
    width: 385px;
    height: 80px;
    position: fixed;
    margin-top: 3%;
    margin-left: 10px;
    text-decoration: none ;
    align-items: center;
    font-size: 10px;
    
    }
  
  .menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none; 
    margin-left: -40px;
    
  }
  
  .menu li a {
    margin: 20px;
    color: #ffffff;
    text-decoration: none;
    display: none;
  }
  
  .LogoMenu{
    
    margin-right: 110px;

  }
  
  .BigContainerCardType6{
    width: 1850px;
    height: 580px;
    display: flex;
    flex-wrap: nowrap; 
    justify-content: flex-start; 
    overflow-x: auto; 
    overflow-y: hidden;
    
  }
  .TitleCardType5{
    padding-left: 100px;
  }
  
  .BigContainerCardType5{
    width: 1850px;
    height: 500px;
    display: flex;
    flex-wrap: nowrap; 
    justify-content: flex-start; 
    overflow-x: auto; 
    overflow-y: hidden; 
  }
  
  ::-webkit-scrollbar {
    width: 5px; 
    height: 5px;
    background-color: #333; 
  }
  
  
  ::-webkit-scrollbar-thumb {
    background-color: #ff0000; 
    border-radius: 5px; 
    
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #ff3333; 
  }
  
  .BigContainerCardType4 {
  
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }
  
  .ContainerCardType4 {
    display: flex;
    align-items: center; 
    width: 1100px; 
    height: 250px;
    margin-bottom: 20px; 
    background-color: #0f0f0f;
    padding-bottom: 20px;
    margin-bottom: 100px;
    border-left: 3px solid red;
  }
  
  .TextContainer {
    flex: 1; 
    padding: 0 20px; 
  }
  
  .ImageContainer {
    width: 500px;
  }
  
  .ImgCardType4 {
    width: 100%;
    height: auto;
  }
  
  
  .TitleCardType3{
    z-index: 9;
    position: absolute;
     
    
   
  }
  .ContainerCardType3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    margin-bottom: 250px;
    
  }
  
  .GridImgCardType3 {
    overflow: hidden; 
  }
  
  .ImgCardType3 img {
    text-align: center;
    width: 1850px; 
    margin-bottom: -6px;
    height: auto; 
  }
  
  .CardType2Container {
    width: 1850px;
    display: flex;
    justify-content: center;
    
    
  }
  .ImgCardType2{
    width: 99%;
    
  }
  .ContainerImgCardType2{
    position: relative;
    text-align: center;
    width: 1500px;
  }
  
  .TitleCardType2{
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    left: 0;
   
  }
  
  .BigContainerCardType1{
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap;
    
  }
  
  .ContainerCardType1 {
    flex: 1; 
    max-width:416px;
    text-align: center; 
    background-color: #0f0f0f;
    text-align: start;
  }
  
  .TitleCardType1{
    padding-left:10px;
  }
  .DescriptionCardType1{
    padding-left:10px;
  }
  
  
  
  .slider{
    background-color: #0f0f0f;
    padding-top: 130px;
    z-index: 1;
    width: 414px;
    height: 400px;
    
    
  }
  
  .ImgCarousel{
    width: 100%;
    height: 100%;
  }
  
  .LeftArrow{
    position: absolute;
    top: 40%;
    width: 50px;
    left: 2%;
  } 
  
  .RightArrow{
    position: absolute;
    left: 87%;
    top: 40%;
    width: 50px;
  }
  
  .TitleCarousel{ 
    position: absolute;
    font-size: 15px;
    top: 260px;
    left: 40px; 
  
  }
  
  .DescriptionCarousel{
    position: absolute;
    bottom: 55%;
    left: 10%;
    margin-right: 50px;
    font-size: 20px;
  }
  
  .SecondDescriptionCarousel{
    position: absolute;
    top: 255px;
    font-size: 15px;
    margin-left: 41px;
    display: none;
    
    
  }
  
  .ButtonCarousel{
    position: absolute;
    right:  60%;
    top: 50%;
    width: 150px;
    height: 50px;
    font-size: 12px;
    border: none;
    border-radius: 2px;
    
  }
  
  
  
  .FirstFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 720px;
    padding-left: 600px;
  
    
  }
  
  .OfferDucati{
    display: flex;
    flex-direction: column; 
    justify-content: start;
    align-items: start;
    text-align: start;
    padding: 40px; 
    width: 1200px;
    padding-left: 300px;
    
    
  }
  .Terms {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
   
  }
  .FirstElement{
  padding-bottom: -100px;
  color: #666;
  
  }
  .FirstFooter{
    font-size: 15px;
  
  }
  .Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }
  
  .SecondFooter {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 6000px;
    background-color: #0f0f0f;
    
  }
  
  .Terms {
    margin: 10px 0;
    
  }
  
  .Elementos {
    margin: 5px 0;
    padding-right: 55px;
    padding-bottom: 30px;
    color: #666;
  }
  
  .IconsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-top: 50px;
  }
  
  .Imagen {
    width: 50px;
    margin: 0 10px;
  }
  
  .Suscription{
    font-size: 25px;
  }
  
  .InputCorreo{
    width: 500px;
    height: 60px;
    font-size: 15px;
    background-color: #0f0f0f;
    border-color: white;
    border: 0.5px solid ebebeb;
    border-radius: 1px;
  }
 
}

