.TitleCardType3{
    z-index: 9;
    position: absolute;
    top: 90%;
    left: 40%;
    padding: 5px;
    border-radius: 4px;
    background-color: rgb(255,255,255, .5);
    color: black;
  }
  
  .BigContainerCardType3 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    margin-bottom: 250px;
    
  }

  .SecondContainerCardType3{
    position: relative;
  }
  .ImgCardType3 {
    overflow: hidden; 
  }
  
  .ImgCardType3 img {
    text-align: center;
    width: 1850px; 
    height: auto; 
  }
  .ImgCardType3 {
    width: 930px;
}

  @media only screen and (max-width:1024px) {

    .TitleCardType3{
      position: absolute;
      align-items:center ;
      text-align: center;
      
    }

    .BigContainerCardType3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 400px;
      height: 400px;
      margin-bottom: 900px;
      
    }
    .ContainerCardType3{
     margin-top: -10px;
      
    }
    .ImgCardType3 {
      width: 400px;
 }
    
    

  }

  