.TitleCardType3{
    z-index: 9;
    position: absolute;
     
  }
  .BigContainerCardType3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    margin-bottom: 250px;
    
  }
  
  .ImgCardType3 {
    overflow: hidden; 
  }
  
  .ImgCardType3 img {
    text-align: center;
    width: 1850px; 
    margin-bottom: -6px;
    height: auto; 
  }

  @media only screen and (max-width:1024px) {

    .TitleCardType3{
      position: absolute;
      align-items:center ;
      text-align: center;
      
    }

    .BigContainerCardType3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 400px;
      height: 400px;
      margin-bottom: 600px;
      
    }
    .ContainerCardType3{
      margin-bottom: 20px;
      
    }
    .ImgCardType3 {
      width: 400px;
 }
    
    

  }

  